In [1]:
li=[1,2,3,4,5]
print (li)

[1, 2, 3, 4, 5]

In [59]:
print(li[-1])
print(li[-2])
print(li[0])
print(li[1:4])
print(li[3:4])

5
4
1
[2, 3, 4]
[4]

In [3]:
li[::1]

[1, 2, 3, 4, 5]

In [60]:
len(li)

5

In [61]:
### method of list
print(sum(li))
print(max(li))
print(min(li))
print(sum(li)//len(li))  # Average

# Find out alterrnate number avg

15
5
1
3

In [62]:
# List methods
li.append(66)  # Inser the new item at any specified position
li

[1, 2, 3, 4, 5, 66]

In [63]:
li.insert(4,12) # Insert the new item at any specified position
li

[1, 2, 3, 4, 12, 5, 66]

In [64]:
li.count(12) # Count of the list item how many it is repeated

1

In [43]:
li.index(66) # Index() gives the index of specified position

6

In [65]:
li.sort()
li

[1, 2, 3, 4, 5, 12, 66]

In [66]:
li.pop()
li

[1, 2, 3, 4, 5, 12]

In [67]:
li.pop(3)

4

In [57]:
def secondLarge(li):
    li.sort()
    return li[-2]
li = [1,9,3,33,21,5]
secondLarge(li)

21

In [71]:
def genericLarge(li,n):
    li.sort()
    return li[-n]
genericLarge(li,3)

3

In [76]:
def genericLeast(li,n):
    li.sort()
    return li[n]
genericLeast(li,3)

5

### Number to List conversion
- 19563212 - [1,9,5,6,3,2,1,2]

In [79]:
def numberToList(n):
    li=[]
    while n !=0:
        r = n % 10
        li.append(r)
        n = n // 10
    li.reverse()
    return li
numberToList(19563212)

[1, 9, 5, 6, 3, 2, 1, 2]

### Data Structures - Tuples
- It is similar to list object
- list will be encloused in square brackets [] and Tuples
- will be enclouse with in paranthesis()
- List can be increased / decreased and Tuple is fixed so that 
- you can't increasse and decrease the tuple
- It mean List is Mutable and Tuple is Immutable
- List will be used for Read and Write where as Tuple will be used for only Reading

In [81]:
t1 =(1,2,4,5,7)
t1

(1, 2, 4, 5, 7)

In [82]:
t1[0:4]

(1, 2, 4, 5)

### Data Structure - Dictionaries
- This data structure object is works on set of keys and value
- There will be unique key set will be defined 
- Every key is seperated from its value by colon(:)
- Every key and value pair is seperated by comma(,)
- It is defined with curly braces{}

In [86]:
d1 = {"Name":"Sankar","EmailId":"sankar567@gmail.com","mobile":9000700878}
print(d1)

{'Name': 'Sankar', 'EmailId': 'sankar567@gmail.com', 'mobile': 9000700878}

In [88]:
print(d1["mobile"])

9000700878

In [90]:
d1["mobile"] = 921097396
d1

{'Name': 'Sankar', 'EmailId': 'sankar567@gmail.com', 'mobile': 921097396}

In [91]:
del d1["mobile"]
d1

{'Name': 'Sankar', 'EmailId': 'sankar567@gmail.com'}

### Contact Application
-- Used Concepts:Dict,List and Tuple
### Modules of contact applications
  - Add Contact
  - search for a contact
  - import the new contact
  - update the contact details
  - Delete the contact details

In [118]:
contacts = {}
# Define the function for Add contacts
def addContacts(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print("contact added")
    else :
        print("contact is not added")
    return
addContacts('sankar',9000700878)
addContacts('suri',9676522793)
addContacts('sankar',9000700878)

contact added
contact added
contact is not added

In [108]:
contacts

{'sankar': 9000700878, 'suri': 9676522793}

In [119]:
# Define function for search contact
def searchContacts(name):
    if name in contacts:
        print(name , ":",contacts[name])
    else:
        print('contact is not present')
searchContacts('sankar')
searchContacts('suri')
searchContacts('ravi')

sankar : 9000700878
suri : 9676522793
contact is not present

In [120]:
# Define the function for import the new contacts
def importContacts(newContacts):
    contacts.update(newContacts)
    print('New contacts are added')
    return
newContacts = {"jagan":6758582836,"sai":9812243344}
importContacts(newContacts)

New contacts are added

In [100]:
contacts

{'sankar': 9000700878,
 'suri': 9676522793,
 'jagan': 6758582836,
 'sai': 9812243344}

In [121]:
# Define a function for update details
def updateDetails(name,phone):
    if name in contacts:
        contacts[name] = phone
        print ('contact update is successful')
    else:
        print('Please add new contact details')
    return
updateDetails('sankar',9000700878)
updateDetails('vineeth',9000700878)

contact update is successful
Please add new contact details

In [124]:
# Define function to delete the contact details
def deleteContact(name):
    if name in contacts:
        del contacts[name]
        print('contact is deleted')
    else:
        print('contact is not deleted')
    return
deleteContact('jagan')
deleteContact('sai')

contact is not deleted
contact is deleted

In [125]:
contacts

{'sankar': 9000700878}

### string to list conversion
-  "1 2 3 4 5"- [1,2,3,4,5,6]

In [126]:
a =input('Enter a number')
print(type(a))
print(a)

Enter a number1 2 3 4 5
<class 'str'>
1 2 3 4 5

In [130]:
s = "Application Test Working"
li = s.split()
print(li)

['Application', 'Test', 'Working']

In [132]:
s1 ="Gitam Python programming"
li1 = s1.split('a')
print(li1)

['Git', 'm Python progr', 'mming']

In [134]:
# DEfine a functon to convert the string to list
def stringToList(s):
    li=s.split()
    numberList=[]
    for i in li:
        numberList.append(int(i))
    return  numberList
stringToList('1 2 3 4 5 6')

[1, 2, 3, 4, 5, 6]

In [141]:
def stringToList(s):
    li=s.split()
    numberList=[]
    for i in li:
        numberList.append(i)
    return  numberList
stringToList('1 2 Gitam 4 Hyderabad 6')

['1', '2', 'Gitam', '4', 'Hyderabad', '6']